* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* Letra tamaño */
html {
    font-size: 10px;
}
/* Fondo de pagina */
.fondo {
    background-color: #fff;
}
/* Fin fondo de pagina */
header {
    display: flex;
}
/*Tamaño logo*/
.image {
    width: 10%;
}
/*Fin logo*/
.beneficios {
        text-align: center;
        font-style: italic;
        font-size: 4rem;
}
/* Fuente encabezado */
.container-encabezado {
    width: 100%;
}
.encabezado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    background-color: darkgreen;
    padding: 4%;
}
.encabezado li {
    margin: 10px;
}
.inicios {
    text-decoration: none;
    color: black;
}
/* Fuente de Inicio */
.detalle {
    display: flex;
    flex-direction: row-reverse;
}
.principal {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}
/* Fin de la fuente */
/* Producto */
.letra {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}
.posicion {
    display: flex;
    justify-content: center;
}
.medio {
    display: flex;
    justify-content: space-evenly;
}
.coco {
    width: 50%;
}
.ricino {
    width: 70%;
}
.almendra {
    width: 70%;
}
/* Fin producto */
/* Promociones */
.promocio1 {
    width: 90%;
}
.promocio2 {
    width: 70%;
}
.promocion3 {
    width: 90%;
}
/* Fin promocion */
/* footer */
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    background-color: darkgreen;
}
.div2 {
    align-self: flex-end;
    justify-self: end;
    width: 100px;
}
.div2 ul li {
    width: 100px;
}
.div2 ul {
    display: flex;
    flex-direction: column;
}
.medio-pago {
    font-size: 1.5rem;
}
.medio-envio {
    font-size: 1.5rem;
}
.redes {
    font-size: 2rem;
}
.envio-color {
    background-color: #fff;
}
/* Medios de pago y envios */
.visa {
    width: 50%;
}
.mastercard {
    width: 50%;
}
.mercadopago {
    width: 50%;
}
.naranja {
    width: 100%;
}
.cencosud {
    width: 50%;
}
.nativa {
    width: 100%;
}
.pago-facil {
    width: 50%;
}
.rapipago {
    width: 50%;
}
.oca {
    width: 100%;
}
.andreani {
    width: 40%;
}
.correo {
    width: 40%;
}
/* Contacto */
.color {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.facebook {
    width: 10%;
}
.instagram {
    width: 10%;
}
.whatsapp { 
    width: 10%;
}
/* Fin contacto */
